body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

header {
  background-color: #0066cc;
  background-image: url(blue-sky.jpg);
  background-size: cover;
  background-position: bottom;
  color: #fff;
  padding: 15px;
  text-align: center;
}

header > div {
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: center;
}

header > div > img {
  width: 66px;
  height: 66px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #2f77c5;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff312f;
}

section {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: left;

  h2 {
    color: #ff312f;
  }

  p {
    max-width: 700px;
    text-align: justify;
    color: #868686;
  }
}

.aviao-1 {
  position: absolute;
  top: 270px;
  right: -150px;
  width: 50%;
  z-index: -1;
}

.services-cards {
  color: #3f3f3f;
  list-style-type: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(125px, auto));
  padding: 0;
}

.service-card {
  background: #fff;
  border-left: 5px solid #007bff;
  color: #333;
  padding: 26px 9px;
  border-radius: 10px;
  font-size: 14px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
  cursor: pointer;
}

.service-card:hover {
  transform: translateY(-10px);
  border-left-color: #ff4d4d;
}

.fly {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 3;
  background-image: linear-gradient(45deg, blue, pink);
  border-radius: 5px 0 0 5px;
  border: none;
  cursor: pointer;
  transition: background-image 500ms ease;

  img {
    width: 32px;
    height: 32px;
    filter: invert(100%);
  }
}

main {
  background-color: #e7f2ff66;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-align: left;
  cursor: pointer;
}

.card img {
  width: 100%;
  min-height: 300px;
  border-bottom: 2px solid #0066cc;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  color: #0066cc;
  margin-bottom: 10px;
}

.card-content h4 {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.card-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-content ul li {
  margin-bottom: 5px;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

footer {
  background-color: #003366;
  color: #fff;
  text-align: center;
  padding: 15px;
}

.modal-overlay {
  display: none;
}

.modal-overlay.active {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #4242427a;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  padding: 5px;
}

.close-button:hover svg {
  transform: scale(1.2);
}

.modal-overlay.active > .container {
  width: 80%;
  min-height: 500px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-bottom: 2px solid #0066cc;

  .place {
    background-size: cover;
    background-position: bottom;
    width: 50%;
  }

  .card-content {
    padding: 30px;
    overflow: auto;
  }
}

@media (max-width: 900px) {
  .modal-overlay.active > .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  header {
    background-position: top;
  }

  nav {
    flex-direction: column;
    text-align: center;
    padding: 5px 0;
    margin: 0;
    gap: 10px;

    a {
      padding: 5px 0;

      &:hover {
        background-color: #ffffff4f;
        border-radius: 5px;
        color: #fff;
      }
    }
  }

  .card-content h3 {
    font-size: 1.2em;
  }

  .modal-overlay.active > .container {
    width: 100%;
    height: 100%;
    flex-direction: column;

    .place {
      height: 300px;
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .modal-overlay.active > .close-button {
    display: none;
  }
}

.carde {
  padding: 20px;
}

/* Estilizando o container para organizar os cards em uma grade */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; /* Espaçamento entre os cards */
  padding: 20px;
}

/* Estilo para os cards */
.carde {
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  text-align: left;
  cursor: pointer;
}

/* Efeito hover para dar destaque aos cards */
.carde:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
